.menu-button {
    background: transparent;
    border: transparent;
    border-radius: 10%;
    cursor: pointer;
    padding-bottom: 3%;
}

.menu-button.dark-mode:hover {
    background-color: #e50914;
  }

.menu-button.light-mode:hover {
    background-color: rgb(204, 204, 204) !important;
}

.main-menu-container { 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    overflow: visible;
    padding: 10px;
}

.menu-netflix-logo {
    fill: red;
    width: 150px;
    padding: 10px;
    filter: drop-shadow(0px 5px 10px rgba(255, 0, 0, 0.8)); /* Red glow effect at the bottom */
}